extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/upload' enctype='multipart/form-data' method='post')
    input(type='file' name='resultfile')
    input(type='submit' value='Upload a file')